# check that web services are running
define service {
        hostgroup_name                  http-servers
        service_description             HTTP
 	check_command                   check_http
        use                             generic-service
}

# check that ssh services are running
#define service {
#        hostgroup_name                  ssl-servers
#        service_description             SSL
#	check_command                   check_ssl
#       use                             generic-service
#}

# check that ssh services are running
define service {
        hostgroup_name                  ssh-servers
        service_description             SSH
	check_command                   check_ssh
        use                             generic-service
	process_perf_data		0
	action_url			http://ecometrica.org/cgi-bin/nagios3/extinfo.cgi?type=2&host=$HOSTNAME$&service=SSH 
}

# check that ping-only hosts are up
define service {
        hostgroup_name                  ping-servers
        service_description             PING
	check_command                   check_ping!120.0,20%!500.0,60%
        use                             generic-service
}

# Define a service to check the disk space of the root partition

define service{
	hostgroup_name			linux-servers
        use                             generic-service         ; Name of service template to use
        service_description             Disk Space
        check_command                   check_remote_disk!20%!10%!/
        }
define service{
	hostgroup_name			linux-dev-servers
        use                             generic-service         ; Name of service template to use
        service_description             Disk Space
        check_command                   check_remote_disk!10%!5%!/
        }



# Define a service to check the number of currently logged in
# users on remote machine. nd if root is logged in. Warning if > 2 users, critical
# if > 3 users.

define service{
	hostgroup_name			linux-servers
        use                             generic-service         ; Name of service template to use
        service_description             Current Users
        check_command                   check_remote_users!6!8
	process_perf_data		0
        action_url			http://ecometrica.org/cgi-bin/nagios3/extinfo.cgi?type=2&host=$HOSTNAME$&service=Current Users
	}


# Define a service to check the used and free RAM on remote machine

define service{
	hostgroup_name			linux-servers
        use                             generic-service         ; Name of service template to use
        service_description             Current Free Ram
        check_command                   check_remote_mem!99!100
        notification_period		never
        }

# Define a service to check the load on the remote machine. 

define service{
	hostgroup_name			linux-servers
        use                             generic-service         ; Name of service template to use
        service_description             Current Load
        check_command                   check_remote_load!5.0,4.0,3.0!10.0,6.0,4.0
        }


define service{
	hostgroup_name			linux-servers
        use                             generic-service         ; Name of service template to use
        service_description             Free Swap
        check_command                   check_remote_swap!90%!80%
        }
define service{
	hostgroup_name			linux-dev-servers
        use                             generic-service         ; Name of service template to use
        service_description             Free Swap
        check_command                   check_remote_swap!50%!20%
        }
